<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.stuck.link.redirect.mapper.UrlMapper">

	<resultMap id="urlModel" type="top.stuck.link.core.model.UrlModel">
		<id property="code" column="CODE" jdbcType="VARCHAR"/>
		<result property="shortUrl" column="SHORT_URL" jdbcType="VARCHAR"/>
		<result property="mulitClients" column="MULIT_CLIENTS" jdbcType="INTEGER"/>
		<result property="defaultUrl" column="DEFAULT_URL" jdbcType="VARCHAR"/>
		<result property="pcUrl" column="PC_URL" jdbcType="VARCHAR"/>
		<result property="appleUrl" column="APPLE_URL" jdbcType="VARCHAR"/>
		<result property="createUserCode" column="CREATE_USER_CODE" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="invalidTime" column="INVALID_TIME" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="getUrlByCode" parameterType="java.lang.String" resultMap="urlModel">
		SELECT
			CODE,
			SHORT_URL,
			MULIT_CLIENTS,
			DEFAULT_URL,
			PC_URL,
			APPLE_URL,
			CREATE_USER_CODE,
			CREATE_TIME,
			INVALID_TIME
		FROM LINK_URL_CONFIG
		WHERE CODE = #{code}
		AND (INVALID_TIME &gt; now() OR INVALID_TIME IS NULL)
	</select>

	<select id="getUrlByShortUrl" parameterType="java.lang.String" resultMap="urlModel">
		SELECT
			CODE,
			SHORT_URL,
			MULIT_CLIENTS,
			DEFAULT_URL,
			PC_URL,
			APPLE_URL,
			CREATE_USER_CODE,
			CREATE_TIME,
			INVALID_TIME
		FROM LINK_URL_CONFIG
		WHERE SHORT_URL = #{shortUrl}
	</select>

	<insert id="addUrl">
		INSERT INTO
		LINK_URL_CONFIG
		(
			CODE,
			SHORT_URL,
			MULIT_CLIENTS,
			DEFAULT_URL,
			CREATE_USER_CODE,
			CREATE_TIME,
			INVALID_TIME
		)
		VALUES
		(
			#{code},
			#{shortUrl},
			#{mulitClients},
			#{defaultUrl},
			'-1',
			#{createTime},
			#{invalidTime}
		)
	</insert>
</mapper>