<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.stuck.link.charts.mapper.ChartsMapper">

	<select id="visitRatio" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		<if test="type==null or type==''">
			OS_FAMILY AS `name`,
		</if>
		<if test='type=="os"'>
			OS_FAMILY AS `name`,
		</if>
		<if test='type=="ua"'>
			UA_FAMILY AS `name`,
		</if>
		COUNT(*) AS total
		FROM `LINK_MESSAGE`
		WHERE USER_AGENT IS NOT NULL AND MESSAGE_TYPE = #{messageType} AND REQUEST_URL = #{requestUrl}
		<if test="queryString!=null and queryString!=''">
			AND QUERY_STRING = #{queryString}
		</if>
		AND VISIT_TIME &gt; #{startTime} AND VISIT_TIME &lt; #{endTime}
		GROUP BY
		<if test="type==null or type==''">
			OS_FAMILY
		</if>
		<if test='type=="os"'>
			OS_FAMILY
		</if>
		<if test='type=="ua"'>
			UA_FAMILY
		</if>
	</select>

	<select id="visitDetail" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		DATE_FORMAT(VISIT_TIME, '%Y-%m-%d %H:%i:%s') AS visitTime,
		OS_FAMILY AS osFamliy,
		OS_NAME AS osName,
		UA_FAMILY AS uaFamily,
		UA_NAME AS uaName
		FROM `LINK_MESSAGE`
		WHERE USER_AGENT IS NOT NULL AND MESSAGE_TYPE = #{messageType} AND REQUEST_URL = #{requestUrl}
		<if test="queryString!=null and queryString!=''">
			AND QUERY_STRING = #{queryString}
		</if>
		AND VISIT_TIME &gt; #{startTime} AND VISIT_TIME &lt; #{endTime}
	</select>
</mapper>